.container {
  margin: auto;
  width: 70%;
  height: 60%;
  background-color: #211d44;
  color: white;
  padding: 60px 15px 0 15px;
  text-align: center;
}

html, h1, h2,h3 {
  margin: 0;
  padding: 0;
}

.current-weather {
  background-image: url('https://www.lifegate.it/app/uploads/francoforte-citta-sostenibili.jpg');
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:center;

}
.left{
  text-align: right;
}
.left>h3{
  font-size: 150px;
}
.rigth{
  color: green;
  text-align: left;
}

.days {
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(
 233, 236, 61, 0.5);
}

.search {
  padding: 40px;
  text-align: center;
  width: 100%;
  color: white;
}
input{
    border: 1px solid white;
    width: 35%;
    background-color: transparent;
    border-radius: 8px;
    padding: 6px;
    outline: none;
}

.row {
  margin: 0;
}
